<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-mail signing</title>
</head>

<body style="
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
        background-color: rgb(226, 226, 226);
    ">
    <div style="
        text-align: center;
        margin: auto;
        margin-top: 5%;
        height: 700px;
        width: 600px;
        background-color: white;
        padding :5%;
        -webkit-text-size-adjust:100%;
      ">
        <img src="https://www.fintract.co.uk/assets/logobackground.png" alt="Fintract Global" style="width: 200px;border-radius: 50%;" />
        <hr style="border-top: 3px solid black" />
        <h1 style="margin-top: 5%; margin-bottom: 5%; text-align: center">
            Hi {{user}}, Verify your e-mail to finish signing up for Fintract Global
        </h1>
        <p>Thank you for choosing Fintract Global.</p>
        <p style="margin-bottom: 5%">
            Please confirm that <b> {{email}}</b> is your e-mail address by clicking on the button bellow within <b>5 mins.</b>
        </p>
        <a href="{{link}}"><button
          style="
            background-color: #17153a;
            border-radius: 5px;
            color: white;
            width: 100%;
            height: 10%;
            padding: 16px 20px 16px 20px;
          "
        >
          <b>VERIFY</b>
        </button>
      </a>
        <hr style="margin-top: 8%; border-top: 3px solid black" />

        <p>
            Need help? Ask at
            <a href="https://www.fintract.co.uk/contactform">Contact Us</a> or visit our <a href="https://www.fintract.co.uk/index">Website</a>
        </p>
        <div style="text-align: center; margin-top: 40px">
            <p style="margin-left: 150px; width: 250px">
                Fintract Global Limited. 71-75, Shelton Street, Covent Garden, London, WC2H9JQ
            </p>
        </div>
    </div>
</body>

</html>