<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-mail OTP</title>
    <style>
         ::-webkit-scrollbar-track {
            border-radius: 0.125rem;
        }
        
         ::-webkit-scrollbar {
            width: 0.3rem;
            border-radius: 0.125rem;
            height: 100px;
        }
        
         ::-webkit-scrollbar-thumb {
            border-radius: 0.125rem;
            background-color: gray;
        }
    </style>
</head>

<body style="
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
        background-color: rgb(226, 226, 226);
    ">
    <div style="
        text-align: center;
        margin: auto;
        margin-top: 5%;
        height: 600px;
        width: 600px;
        background-color: white;
        padding: 5%;
      ">
        <img src="https://www.fintract.co.uk/assets/logobackground.png" alt="Fintract Global" style="width: 200px; border-radius: 50%;" />
        <hr style="margin-top: 8%; border-top: 3px solid black" />
        <p><b> Hi {{user}}!!</b></p>
        <p>Here is the confirmation code for your e-mail verification. It expires in <b>10 mins</b> .</p>
        <h1 class="OTP"> <img style="width:70px;position: relative;top: 5px;right: 8px;" src="https://xp.io/storage/DLAXoXB.png" /> {{link}}</h1>
        <p>Use this <b>One-time password (OTP)</b> to complete the e-mail verification process. </p>
        <hr style="margin-top: 8%; border-top: 3px solid black" />
        <p>
            Need help? Ask at
            <a href="https://www.fintract.co.uk/contactform">Contact Us</a> or visit our <a href="https://www.fintract.co.uk/index">Website</a>
        </p>
        <div style="text-align: center; margin-top: 40px">
            <p style="margin-left: 180px; width: 250px">
                Fintract Global Limited. 71-75, Shelton Street, Covent Garden, London, WC2H9JQ
            </p>
        </div>
    </div>

</body>

</html>