<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verified</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
</head>

<body style="
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;">
    <div style="
         text-align:center;
         margin: auto;
        margin-top: 5%;
        padding: 5%;
        height: 600px;
        width: 600px; 
        ">
        <img src="https://xp.io/storage/D0gjTNd.png" alt="email" style="width: 200px;">

        <h1>Congratulations, Your email address has been verified.</h1>
        <p>Our aim is to help accelerate client growth, strengthen their market base and amplify the volume of transactions through our quality-focused products. </p>
        <div style="margin: 50px; position: relative;right: 60px;">
            <img src="https://www.fintract.co.uk/assets/logobackground.png" alt="logo" width="40px">
            <p style="position: relative; bottom:50px ;left: 74px;"><b>Fintract Global</b></p>
        </div>
    </div>
</body>

</html>